/* split usernames and messages on a central column */
.dense_theme #messages_container .message_content { display: inline-block; }
.dense_theme #messages_container .message_content,
.dense_theme #messages_container .file_details,
.dense_theme #messages_container .file_reference .msg_inline_holder {
  margin-left: 10em;
}
.dense_theme #messages_container .message_sender {
  display: inline-block;
  position: absolute;
  float: left;
  width: 10em;
  text-align: right;
}
.dense_theme #messages_container .message.divider {
  border-top: 1px solid #f8f8f8;
}
.dense_theme #messages_container .message.file_reference .file_details a.icon {
  /* hide file icons, which seem redundant */
  display: none;
}

/* remove fading during room switching */
#msgs_overlay_div {
  display: none !important;
}
